<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>php-dischi-json</title>
        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous">
        <!-- style -->
        <link rel="stylesheet" href="./css/style.css">
        <!-- vue js -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- axios -->
        <script
            src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <div id="app">

            <!-- header -->
            <header class="d-flex justify-content-between align-items-center">
                <!-- logo -->
                <div>
                    <img class="logo" src="./img/logo.jpg" alt>
                    <span class="fw-bold text-white"> Booltify</span>
                </div>
                <!-- /logo -->

                <!-- navbar -->
                <div class="header-nav text-white d-flex gap-5 me-3">
                    
                    <span><a @click.prevent="onlyLiked()" href>Visualizza
                            Preferiti</a></span>
                    <span><a @click.prevent="allAlbum()" href>Visualizza
                            Tutto</a></span>
                </div>
                <!-- /navbar -->

            </header>
            <!-- /header -->

            <!-- container -->
            <div class="container d-flex justify-content-center align-items-center flex-wrap gap-4">
                    <!-- card -->
                    <div name="card" @click.prevent="addLike(index)"
                        v-for="curElem,index in arrayDischi"
                        class="card-disc d-flex flex-column justify-content-end align-items-center text-center">

                        <div class="img">
                            <img :src="curElem.poster" alt>
                        </div>
                        <div class=" d-flex flex-column">
                            <!-- show heart if card like is true -->
                            <span class="hearts" v-if="curElem.like===true">
                                &hearts; </span>
                            <h6>{{curElem.title}}</h3>
                            <span> {{curElem.author}} </span>
                            <span class="fw-bold mb-2">{{curElem.year}}</span>
                 
                    </div>
                    <!-- card -->
                </div>
            </div>
            <!-- /container -->

        </div>

        <!-- script -->
        <script src="./js/script.js"></script>
    </body>
</html>