<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>php-dischi-json</title>
    <!-- Bootstrap -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
    <!-- style -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
    
<body>
    <!-- script -->
    <div id="app">
        <header>
            <img class="logo" src="./img/logo.jpg" alt="">
            <span class="fw-bold text-white"> Booltify</span>
        </header>
        
        <form  method="POST" action="index.html" class="container">
            <div name="card" @click.prevent="addLike(index)" v-for="curElem,index in arrayDischi" class="card-disc d-flex flex-column justify-content-center align-items-center text-center">
                <div class="img">
                    <img :src="curElem.poster" alt="">
                </div>
                <div class="mt-3">
                    <h6>{{curElem.title}}</h3>
                        <span v-if="curElem.key===true"> &hearts; </span>
                        <span> {{curElem.author}} </span>
                        <span class="fw-bold">{{curElem.year}}</span>
                    </div>
                </div>                   
                
            </form>
        </div>
        <script src="./js/script.js"></script>
</body>
</html>